<h1>Listings</h1>

<table class="sortable">
  <th>
    Address
  </th>
  <th>
    City
  </th>
  <th>
    State
  </th>
  <th>
    Zip Code
  </th>
  <th>
    Category
  </th>
  <th>
    Bedrooms
  </th>
  <th>
    Bathrooms
  </th>
  <th>
    Square Footage
  </th>
  <th>
    Rent
  </th>
  <th>
    Parking
  </th>
  <th>
    RoomieScore
  </th>
<% @matches.each do |match| %>
  <tr>
    <td>
      <%= match.dwelling.address %>
    </td>
    <td>
      <%= match.dwelling.city %>
    </td>
    <td>
      <%= match.dwelling.state %>
    </td>
    <td>
      <%= match.dwelling.zip_code %>
    </td>
    <td>
      <%= match.dwelling.category %>
    </td>
    <td>
      <%= match.dwelling.bedrooms %>
    </td>
    <td>
      <%= match.dwelling.bathrooms %>
    </td>
    <td>
      <%= match.dwelling.sq_ft %>
    </td>
    <td>
      <%= match.dwelling.rent %>
    </td>
    <td>
      <% if match.dwelling.parking %>
      <img src="http://www.clipartbest.com/cliparts/dT7/aG4/dT7aG4LT9.png" alt="" />
      <% end %>
    </td>
    <td>
      <%= match.score %>
    </td>
  </tr>
  <% end %>
</table>
