<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="welcome#index">RoomieMatch</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="menu">
      <% if current_user %>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% if !current_user.preference.nil? %>
          <li><%= link_to "Edit Profile", edit_preference_path(current_user.preference) %></li>
        <% end %>
        <% if current_user.dwelling.nil? %>
          <li><%= link_to "Create Listing", new_dwelling_path %></li>
        <% else %>
          <li><%= link_to "Edit Listing", edit_dwelling_path(current_user.dwelling) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
