<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="container">
        <div class="column">
          <div class="small-11 medium-9 large-7 columns">
            <% if notice %>
          <div class="callout success">
            <%= notice %></div>
            <% elsif alert %>
          <div class="callout alert"><%= alert %></div>
          <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
